/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  font-family: 'Lato', sans-serif;
  background-color: #e5e5e5;
}
body > div:first-child {
  height: 100%;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
