.appContainer {
  background-color: #ffffff;
}
.headerContainer {
  position: relative;
  background-color: #00ad4b;
}
.header {
  position: absolute;
  bottom: 10px;
  right: 0;
  left: 0;
  text-align: center;
  font-size: 14px;
}
.userInfoContainer {
  position: absolute;
  left: 15%;
  right: 0;
  top: 20%;
  display: flex;
  align-items: center;
}
.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}
