.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #E6FFFA;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 0px 0px 12px 12px;
  opacity: 1;
  font: normal normal 600 14px/17px Lato;
  letter-spacing: 0.84px;
  color: #319795;
}

.header p {
  min-height: 72px;
}

.header::before {
  height: 5px;
  background: transparent linear-gradient(91deg, #319795 0%, #3182CE 100%) 0% 0% no-repeat padding-box;
  opacity: 1;
  display: block;
  content: "";
}

.title {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 1.26px;
  color: #2D3748;
  width: 320px;
  margin: 0 auto;
}

.slideArea {
  width: 418px;
  height: 405px;
}

.footerContainer {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px -1px 3px #00000033;
  border-radius: 12px 12px 0px 0px;
}

.buttonArea {
  background: transparent linear-gradient(95deg, #319795 0%, #3182CE 100%) 0% 0% no-repeat padding-box;
  border-radius: 12px;
  width: 320px;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  letter-spacing: 0.84px;
}

.button {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #CBD5E0;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  letter-spacing: 0.84px;
  color: #319795;
  padding: 12px 40px;
}

.buttonActive {
  background: #81E6D9 0% 0% no-repeat padding-box;
  border: 1px solid #81E6D9;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  letter-spacing: 0.84px;
  color: #FFFFFF;
  padding: 12px 40px;
  border-left: 0;
  border-right: 0;
}

li:first-child .button,
li:first-child .buttonActive
 {
  border-radius: 12px 0px 0px 12px;
}

li:last-child .button,
li:last-child .buttonActive {
  border-radius: 0 12px 12px 0;
}
.sliderContainer > .block {
  padding: 15px 0;
}
.sliderContainer .titleSlide {
  font-family: 'Lato', sans-serif;
  font-size: 130px;
  font-weight: 700;
  color: #718096;
  line-height: 0.8;
}
.sliderContainer .titleSlide1 {
  padding-left: 10px;
}
.sliderContainer .titleSlide2 {
  padding-left: 35px;
}
.sliderContainer .titleSlide3 {
  padding-left: 54px;
}
.imgArea {
  width: 220px;
  height: 145px;
}
.description {
  font-size: 16px;
  letter-spacing: 0.47px;
  color: #718096;
}
.description3 {
  align-self: center;
  padding: 0 20px;
}
.subTitle {
  color: #4A5568;
  font-size: 21px;
  width: 280px;
  margin: 0 auto;
  text-align: center;
  font-weight: 600;
}
.buttonGroup {
  margin-bottom: 30px;
}
.buttonGroup::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 0 rgba(0,0,0,0.3);
    background-color: transparent;
}
.buttonGroup::-webkit-scrollbar
{
    width: 6px;
    background-color: transparent;
}
.buttonGroup::-webkit-scrollbar-thumb
{
    background-color: transparent;
}
.curve {
  background: transparent linear-gradient(134deg, #E6FFFA 0%, #EBF4FF 100%) 0% 0% no-repeat padding-box;
}
.curveWhite {
  background: #FFFFFF;
}