.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.75);
}
.textPrimary {
  color: #3d75c9;
}
.backgroundGreen {
  background-color: #00ad4b;
}
.backgroundGray {
  background-color: #cccccc;
}
